<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>email@email.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>username_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password_preference</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string>default</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Location ID</string>
			<key>DefaultValue</key>
			<string>40781</string>
			<key>Key</key>
			<string>lid_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User ID</string>
			<key>Key</key>
			<string>sid_preference</string>
			<key>DefaultValue</key>
			<string>34620</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
